.adverts-gen-container {   
    min-height: 600px;
}
.sub-title {
    font-size:18px;
}

.advert-container {
    background-color: transparent;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 1px lightgrey;
    border-radius: 15px;
    margin-bottom:1rem;
}

.btn-danger {

    font-size: 12px;
    padding: 0.4rem;
    border-radius: 5px;
}

.advert-username a{
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}
.advert-title {
    font-weight: 500;
    font-size: 14px;
}
.advert-category {
    font-weight: 500;
    font-size: 14px;
}
.advert-content {
    font-size: 1rem;
}
.advert-date {
    font-size: 12px;
    font-weight: 400;
}

.div-page {
    cursor: pointer;
}