.order-section-container {
    margin-top: 5rem;
    margin-bottom: 2rem;
    min-height: 600px;
}
.cart-table-container {
    padding-right: 3rem;
}

.cart-table-header {
    border-bottom: 1px solid black;
    text-align: center;
    height: 4rem;
}
.tab-h{
    margin-top: 1.2rem;
}

.cart-table-content {
    text-align: center;
    justify-content: center ;
}

.content-img > img{
    margin-left: 1.4rem;
}


.cart-table-content > .row{
    border-bottom: 1px solid black;

}
.cart-table-content > .row > div {
    padding: 0.5rem;
}
.cart-table-content > .row > div > img{
    width: 120px;
}
.content {
    margin-top: 25px;
}



.order-form-container {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    border-left: 2px solid #131921;
    
}
.order-form-container > form > input {
    margin-top: 1.5rem;
}
.order-submit {
    width: 100%;
    margin-top: 1.5rem;
    background-color: #febd69;
    border: none;
    color: white;
}
.order-submit:hover {
    background-color: #e9ac5b;
    border: none;
    color: white;
}

